{% extends 'workflow/basic_struct.html' %}

{% block title %}
Erklärung geographische Koordinaten | Soilon Workflow
{% endblock %}

{% block content %}
    <h1>Geographische Koordinaten</h1>
    <p class="text-umbruch">
Die Angabe der genauen Position der Entnahmestelle als geographische Koordinate ist notwendig für die Bodenkarte des Duisburger Südens.
Um die geographische Koordinate zu ermitteln kann u.a. Google Maps zu Hilfe gezogen werden.

1. Klicke auf den Punkt der Entnahmestelle auf der Karte
2. Dann solltest du die Koordinaten der Stelle sehen können. Kopiere diese
3. Gehe zurück zum Eingabefeld und füge die kopierten Koordinaten ein. Achte dabei darauf, dass das angegebene Format mit dem Format der kopierten Koordinaten übereinstimmt! (unter dem Eingabefeld sollte ein Beispiel angegeben sein für das erwartete Format)

Bisher wird nur ein Format unterstützt. Dieses erhält man ganz einfach, wenn man beide Koordinaten gleichzeitig kopiert.
Beispiel: 51°22'28.5"N 6°45'01.2"E
    </p>
{% endblock %}