.form {
    border: 2px solid black;
    margin: 10px;
    margin: auto;
    max-width: 500px;
}

.form-heading {
    vertical-align: center;
    padding-top: 50px;
    height: 100%;
}

.form-head h1 {
    text-align: center;

    color: white;
    margin: 0;
}

.form-input, .form-attribut {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-attribut {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.form-input {
    width: 296px;
    margin: auto;
}

.form-input input{
    width: 296px;
    margin: auto;
}

.form-submit-button input{
    width: 50%;
    margin: auto auto auto 25%;
    height: 50px;
    font-size: large;
    font-weight: bold;
    /*some parts of the styling of the buttons are outsourced to forms.js to be applied dynamically*/
}

.form-alone-submit-button {
    background-color: #afafaf;
    color: #252525;
    transition: width 1.2s ease-in-out, margin-left 1.5s ease-in-out;
}

.soil-sample-save-button-half {
    margin-left: 0px;
}

.soil-sample-save-button-full {
    margin-left: 25%;
}

.form-alone-submit-button-wrapper {
    transition: width 1.2s ease-in-out, margin-left 1.2s ease-in-out;
}

.form-head {
    width: 100%;
    background-image: url("../img/verlauf_alt_1.png");
    height: 150px;
}

.form-body {
    padding: 10px
}

.small-form-attribut {

}

.small-form-housenumber input{
    width: 50px;
    margin-left: 10px;
}

.small-form-zip-code input{
    width: 80px;
    margin-right: 10px;
}
